body {
    display: flex;
    min-height: 100vh;
    place-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;

}


.block {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    width: 400px;
    height: 400px;
    z-index:-1;
    background: lightblue;
    transform:translate(-50%,-50%);

}