body {
    display: flex;
    min-height: 100vh;
    place-items: center;
}

.row {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;

}


button {
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 6
}